{% extends "SophiUserBundle::security.html.twig" %}

{% block title %}Register{% endblock title %}

{% block fos_user_content %}
    

        <div class="row-fluid sortable ui-sortable">

            <div class="box span12">

                <div class="box-header" data-original-title="">
                    <h2><i class="icon-edit"></i><span class="break"></span>Registro de Usuarios</h2>
                    <div class="box-icon">
                        <a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="icon-remove"></i></a>
                    </div>
                </div>

                <div class="box-content">

                    <form name="fos_user_registration_form" id="fos_user_registration_form" method="POST" class="form-horizontal" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }}>

                        <fieldset>

                            <div class="control-group">
                                <label class="control-label" for="username">{{ form_label(form.username, 'Usuario') }}</label>
                                <div class="controls">
                                    {{ form_widget(form.username, {'id': 'username', 'attr': {'maxlength': '100', 'placeholder':'Ingrese su nombre de Usuario', 'class':'span8'}}) }}
                                    <span class="help-inline">{{ form_errors(form.username) }}</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="email">{{ form_label(form.email, 'E-Mail') }}</label>
                                <div class="controls">
                                    {{ form_widget(form.email, {'id': 'email', 'attr': {'maxlength': '100', 'placeholder':'Ingrese su Correo Electrónico', 'class':'span8'}}) }}
                                    <span class="help-inline">{{ form_errors(form.email) }}</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="firstName">{{ form_label(form.firstName, 'Nombre') }}</label>
                                <div class="controls">
                                    {{ form_widget(form.firstName, {'id': 'firstName', 'attr': {'maxlength': '100', 'placeholder':'Ingrese su Nombre Real', 'class':'span8'}}) }}
                                    <span class="help-inline">{{ form_errors(form.firstName) }}</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="lastName">{{ form_label(form.lastName, 'Apellido') }}</label>
                                <div class="controls">
                                    {{ form_widget(form.lastName, {'id': 'lastName', 'attr': {'maxlength': '100', 'placeholder':'Ingrese su Apellido Real', 'class':'span8'}}) }}
                                    <span class="help-inline">{{ form_errors(form.lastName) }}</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="clave">{{ form_label(form.plainPassword.first, 'Clave') }}</label>
                                <div class="controls">
                                    {{ form_widget(form.plainPassword.first, {'id': 'clave', 'attr': {'maxlength': '100', 'placeholder':'Ingrese su Clave', 'class':'span8'}}) }}
                                    <span class="help-inline">{{ form_errors(form.plainPassword.first) }}</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="confirm">{{ form_label(form.plainPassword.confirm, 'Confirme la Clave') }}</label>
                                <div class="controls">
                                    {{ form_widget(form.plainPassword.confirm, {'id': 'confirm', 'attr': {'maxlength': '100', 'placeholder':'Confirme su Clave', 'class':'span8'}}) }}
                                    <span class="help-inline">{{ form_errors(form.plainPassword.confirm) }}</span>
                                </div>
                            </div>


                            {{ form_rest(form) }}
                        

                            <div class="form-actions">
                                <input type="submit" value="Registrar" class="btn btn-primary">
                                <input type="reset" value="Cancelar" class="btn">
                            </div>

                        </fieldset>  

                    </form>

                </div>

            </div>

        </div>
    
{% endblock fos_user_content %}