{% extends "SophiUserBundle::layout.html.twig" %}

{% block own_styles %}
    <link type='text/css' rel="stylesheet" href="{{ asset('bundles/sophicore/css/sophi.login.css') }}" />
    <link type='text/css' rel="stylesheet" href="{{ asset('bundles/sophicore/css/sophi.extmsgbox.css') }}" />
    <link type='text/css' rel="stylesheet" href="{{ asset('bundles/sophicore/css/font-awesome.css') }}" />
    <link type='text/css' rel="stylesheet" href="{{ asset('bundles/sophicore/css/check-radio.css') }}" />
    <link type='text/css' rel="stylesheet" href="{{ asset('bundles/sophicore/css/bubble.css') }}" />
{% endblock own_styles %}

{% block header %}

    {{ parent() }}

    <header>

        <h1>
            <img src="{{ asset('bundles/sophicore/img/cake-logo.png') }}" alt="Cake">
            <strong>Sophi</strong>
        </h1>
        <h2>M&aacute;s que un Restaurant</h2>

        <div class="support-note">
            <span class="note-ie">Disculpe, esta aplicaci&oacute;n est&aacute; hecha solo para navegadores modernos. (Chrome, Firefox, Opera, Safari...)</span>
        </div>

    </header>

{% endblock header %}

{% block fos_user_content %}

    {% if error %}
        <div align="center" class="errorBox">{{ error|trans({ }, 'FOSUserBundle') }}</div>
    {% endif %}

        <section class="main">

            <form class="form-1" action="{{ path("fos_user_security_check") }}" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <p class="field">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Usuario" />
                    <i class="icon-user icon-large"></i>
                </p>

                <p class="field">
                    <input type="password" id="password" name="_password" required="required" placeholder="Clave" />
                    <i class="icon-lock icon-large"></i>
                </p>

                <p class="submit">
                    <button type="submit" id="_submit" name="_submit">
                        <i class="icon-arrow-right icon-large"></i>
                    </button>
                </p>

            </form>

            <div align="center">
                <span style="position: relative; top: -5px;">Recu&eacute;rdame:</span>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="regular-checkbox" />
                <label for="remember_me" title="Recordar la Sesi&oacute;n"></label>
            </div>

        </section>

        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <blockquote class="oval-thought" style="bottom: 100px; right: 20px; position: absolute;">
            <p>No posees usuario? <b><a style="color:#FFFFFF;" href="{{ path('fos_user_registration_register') }}">Reg&iacute;strate Gratis!</a></b></p>
        </blockquote>
        {% endif %}

{% endblock fos_user_content %}

{% block own_javascripts %}

    <script type="text/javascript" src="{{ asset('bundles/sophicore/js/jquery.placeholder.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sophicore/js/modernizr.custom.63321.js') }}"></script>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <script type="text/javascript">

        $(document).on('ready', function(evt){

            $("#username").val('{{ app.user.username }}');
            $("#username").attr('readonly','readonly');
            $('#password').focus();

        })

    </script>
    {% endif %}

{% endblock own_javascripts %}